$darkBeige: #B29276;
$darkerBeige: #6e5b4a;
$darkestBeige: rgb(53, 44, 36);
$brightBeige: #e5c1a7;
// rgb(229 193 167)

$lightBeige: #DECFBF; 
// (222, 207, 191)
$fadedBeige: rgba(222, 207, 191, .5);
$fadedBrightBeige: rgba(229, 193, 167, .8);

$fadedBlack: rgba(39, 37, 51, 0.9);
$lightBlack: rgba(39, 37, 51, 0.7);

$beetrootRed: rgba(76, 29, 44, 1);  

$offWhite: rgb(255, 250, 241);