$darkBeige: #B29276;
$darkerBeige: #6e5b4a;
$darkestBeige: #352c24;
$brightBeige: #e5c1a7;

$lightBeige: #DECFBF; 
// (222, 207, 191)
$fadedBeige: rgba(222, 207, 191, .5);
$lightestBeige: rgba(222, 207, 191, .2);

$fadedBlack: rgba(39, 37, 51, 0.9);
$lightBlack: rgba(39, 37, 51, 0.7);