@import "../styles/colors";

.mdl-mega-footer.footer{
    position: relative;
    // background-color: $fadedBlack;
    background-image: url('/img/cardBackground.jpg');
    padding-left: 15%;
    .mdl-mega-footer__drop-down-section{
        width: 33%;
        h1{
            color: $lightBeige;
            // color: $darkestBeige;
            // color: $brightBeige;
        }
    }
    .mdl-mega-footer__bottom-section{
        padding-bottom: 20px;
    }
    .mdl-mega-footer__link-list{
        left: 40%;
    }
    ul{
        padding-right: 80%;
        li{
            line-height: 28px;
            display: block;
            color: $brightBeige;
        }
    }
    .footer-links{
        position: absolute;
        bottom: 20px;
        z-index: 4;
        display: flex;
        padding: 0px;
        margin-bottom: 0px;
        left: 50%;
        transform: translate(-50%);
        a{
            font-size: 22px;
            padding-right: 20px;
            padding-left: 20px;
            i{
                color: $lightBeige;
            }
        }
    }
}


// Responsive Design
// PHONE: 0-450
@media (max-width: 450px) {
    .mdl-mega-footer.footer{
        .mdl-mega-footer__drop-down-section{
            width: 90%;
        }
        // ul{
        //     li{
        //         a{
        //             line-height: 28px;
        //             // font-weight: lighter;
        //         }
             
        //     }
        // }
        .footer-links{
            a{
                font-size: 18px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}