@import "../styles/colors";

#landing{
    position: absolute;
    #hero{
        background-image: linear-gradient(-150deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05), rgba(255,255,255,0)), url("/img/juiceBackground60.jpg");
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;
        // top: 0px;
        a{
            text-decoration: none;
            .title{
                // width: 70%;
                margin-top: 70px;
                margin-left: 3%;
    
                h1{
                    color: white;
                    text-align: left;
                    margin-bottom: 0px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 100;
                    font-size: 44px;
                    line-height: 54px;
                }
                h2{
                    padding-right: 70px;
                    text-align: right;
                    margin-top: 100px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 28px;
                    color: black;
                }
            }
        }
  
      
    }
    .sectionDivider{
        height: 20px;
        width: 100%;
        position: relative;
        top: 100vh;
        background-color: $fadedBlack;
        background-color: white;
        z-index: 2;
        display: none;
    }

    .section{
        position: relative;
        background-color: $fadedBlack;
        background-color: $darkBeige;
        background-color: $brightBeige;
        // background-color: white;
        display: flex;
        padding: 50px;
        height: 80vh;
        // top: 100vh;
        .leftSection{
            width: 60%;
            height: 100vh;
            img{
            }
            .title1{
                width: 45%;
                color: white;
                position: absolute;
                top: 5%;
                right: 12%;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 50px;
                letter-spacing: 0.04em;
            }
            .title2{
                margin-top: 80px;
                right: 3%;
                width: 45%;
                color: white;
                position: absolute;
                top: 5%;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 50px;
                letter-spacing: 0.04em;
            }
        }
        .rightSection{
            z-index: 2;
            background-color: $darkBeige;
            // background-color: white;
            position: relative;
            width: 40%;
            height: 20vh;
            top: 25vh;
            margin: 20px;
            p{
                padding: 20px;
                font-size: 18px;
                line-height: 28px;;
                color: $fadedBlack;
                // color: white;
            }
        }
    }
}

