@import "../styles/colors";

#landing{
    position: absolute;
    overflow-x: hidden;
    #hero{
        background-image: linear-gradient(-150deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05), rgba(255,255,255,0)), url("/img/juiceBackground60.jpg");
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;
        padding-top: 1px;
        .title{
            margin-top: 0px;
            margin-left: 5%;
            z-index: 1;
            h1{
                color: white;
                text-align: left;
                padding-top: 20px;
                margin-bottom: 0px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                font-size: 42px;
                line-height: 54px;
            }
            h2{
                padding-left: 20px;
                margin-top: 0px;
                text-align: left;
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                line-height: 28px;
                color: white;
            }
        }
    }

    .section{
        position: relative;
        // background-color: $fadedBlack;
        // background-color: $darkBeige;
        background-color: $brightBeige;
        display: flex;
        padding: 50px;
        padding-top: 20vh;
        padding-bottom: 20vh;
        height: 60vh;
        .leftSection{
            width: 60%;
            height: 100vh;
            img{
                border: solid;
                border-width: 7px;
                border-color: $fadedBlack;
            }
            .bar{
                border-top: 5px solid #000;
                width: 10%;
                top: 18%;
                right: 11%;
                position: absolute;;
            }
            .title1{
                position: absolute;
                // width: 45%;
                width: 100%;
                top: 22%;
                // right: 12%;
                left: 70%;
                color: white;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: 0.04em;
            }
            .title2{
                position: absolute;
                // width: 45%;
                width: 100%;
                left: 77%;
                top: 22%;
                margin-top: 80px;
                color: white;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: 0.04em;
            }
           
        }
        .rightSection{
            z-index: 2;
            // background-color: $darkBeige;
            background-color: $lightBlack;
            position: relative;
            width: 40%;
            height: 20vh;
            top: 28vh;
            // margin: 20px;
            box-shadow: 3px 3px 5px 2px #4444;
           
            p{
                padding: 25px;
                font-size: 18px;
                line-height: 32px;;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
            }
        }
    }
    
    #shop-section{
        position: relative;
        // height: 100vh;
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 100%;
        background-color: $fadedBlack;
        h1{
            color: white;
            font-family: 'Playfair Display', serif;
            font-weight: 100;
            font-size: 68px;
            line-height: 68px;
            letter-spacing: 0.04em;
            text-align: center;
            padding-bottom: 5%;
        }
        .shop-container{
            width: 80%;
            margin-left: 10%;
            height: auto;
            background-color: $brightBeige;
            // background-color: white;
            display: flex;
            flex-wrap: wrap;
            .juice-container{
                width: 33.3333%;
                padding-top: 20px;
                text-align: center;
                a{
                    text-decoration: none;
                    .juice-image{
                        width: 80%;
                        align-items: center;
                        margin: 20px;
                        margin-bottom: 10px;
                        border: solid;
                        border-width: 7px;
                        border-color: $darkBeige;
                    }
                    .juice-title{
                        font-size: 28px;
                        line-height: 38px;;
                        color: white;
                        // color: black;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        text-align: center;
                        width: 100%;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
 
}

