@import "../styles/colors";

#landing{
    // position: absolute;
    overflow-x: hidden;
    top: 0;
    #hero{
        background-image: linear-gradient(-150deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05), rgba(255,255,255,0)), url("/img/juiceBackground60.jpg");
        background-size: cover;
        opacity: .95;
        height: 99vh;
        width: 100%;
        position: relative;
        padding-top: 1%;
        .title{
            margin-top: 0px;
            margin-left: 5%;
            z-index: 1;
            h1{
                color: white;
                color: $brightBeige;
                text-align: left;
                padding-top: 10px;
                margin-bottom: 0px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                font-size: 42px;
                line-height: 54px;
            }
            h2{
                padding-left: 20px;
                margin-top: 0px;
                text-align: left;
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                line-height: 28px;
                color: white;
                color: $darkBeige;
            }
        }
    }
    #regular-range{
        display: none;
        background-image:  linear-gradient(to top, $brightBeige, $lightBeige, transparent);
        // opacity: 1;
        // transform: skewY(-5deg);
        width: 100%;
        position: absolute;
        z-index: 4;
        top: 60vh;
        h3.regular-range-title{
            position: relative;
            text-align: center;
            // color: white;
            color: black;
            font-family: 'Playfair Display', serif;
            font-weight: 100;
            font-size: 48px;
            line-height: 52px;
            letter-spacing: 0.04em;
            padding-top: 0px;
            margin-bottom: 20px;
        }
        .regular-range-container{
            position: relative;
            // height: 30vh;
            width: 100%;
            z-index: 3;
            display: flex;
            flex-wrap: wrap;
            .regular-range-subcontainer{
                position: relative;
                text-align: center;
                margin-left: 20px;
                a{
                    text-decoration: none;
                }
                a:hover{
                    opacity: .9;
                }
                img{
                    position: relative;
                    border: solid;
                    border-width: 7px;
                    border-color: $brightBeige;
                    // border-color: $lightBeige;
                    bottom: 0;
                }
                .regular-text-box{
                    width: calc(180px+14px);
                    width: 180px;
                    margin: 7px;
                    height: 50px;
                    background-color: $brightBeige;
                    // background-color: $lightBeige;
                    // background-color: white;
                    // background-color: $fadedBlack;
                    opacity: 0.9;
                    position: relative;
                    bottom: 8vh;
                    z-index: 2;
                    .regular-subtitle{
                        position: relative;
                        margin: 0;
                        color: black;
                        // color: white;
                        // color: $darkBeige;
                        font-size: 24px;
                        line-height: 50px;
                        text-align: center;
                        // font-weight: bold;
                        z-index: 3;
                    }
                }
            }
        }
    
    }
    .section-break{
        height: 30vh;
        background-image:  linear-gradient(to bottom, $brightBeige, $lightBeige);
    }
    .section{
        z-index: 2;
        position: relative;
        background-color: $brightBeige;
        display: flex;
        padding: 50px;
        padding-top: 20vh;
        padding-bottom: 20vh;
        height: 30vh;
        .leftSection{
            width: 60%;
            height: 100vh;
            img{
                // border: solid;
                border-width: 7px;
                border-color: $fadedBlack;
                box-shadow: 3px 3px 5px 5px #4444;
            }
            .bar{
                border-top: 5px solid #000;
                width: 15%;
                top: 25%;
                right: 15%;
                position: absolute;;
            }
            .title1{
                position: absolute;
                width: 100%;
                top: 34%;
                left: 61%;
                color: white;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: 0.04em;
            }
            .title2{
                position: absolute;
                // width: 45%;
                width: 100%;
                left: 66%;
                top: 35%;
                margin-top: 80px;
                color: white;
                font-family: 'Playfair Display', serif;
                font-weight: 100;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: 0.04em;
            }
        }
        .rightSection{
            z-index: 2;
            // background-color: $lightBlack;
            position: relative;
            width: 35%;
            // height: 30vh;
            top: 29vh;
            // box-shadow: 3px 3px 5px 2px #4444;
           
            p{
                padding: 25px;
                font-size: 20px;
                line-height: 30px;;
                color: white;
                color: $fadedBlack;
                // color: #555;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            .desc2{
                font-size: 16px;
                // color: $brightBeige;
                color: #555;
                // font-weight: bold;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 15px;
                padding-bottom: 0px;
            }
            .desc3{
                font-size: 16px;
                color: #555;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
    
    #shop-section{
        position: relative;
        // height: 100vh;
        height: auto;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 100%;
        background-color: $fadedBlack;
        h1{
            color: white;
            font-family: 'Playfair Display', serif;
            font-weight: 100;
            font-size: 68px;
            line-height: 68px;
            letter-spacing: 0.04em;
            text-align: center;
            padding-bottom: 5%;
        }
        .shop-container{
            width: 80%;
            margin-left: 10%;
            height: auto;
            background-color: $brightBeige;
            // background-color: white;
            display: flex;
            flex-wrap: wrap;
            .juice-container{
                width: 33.3333%;
                padding-top: 20px;
                text-align: center;
                a{
                    text-decoration: none;
                    .juice-image{
                        width: 80%;
                        align-items: center;
                        margin: 20px;
                        margin-bottom: 10px;
                        border: solid;
                        border-width: 7px;
                        border-color: $darkBeige;
                    }
                    .juice-title{
                        font-size: 28px;
                        line-height: 38px;;
                        color: white;
                        color: $fadedBlack;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100;
                        text-align: center;
                        width: 100%;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
 
}

