@import "../styles/colors";

body{
    // overflow: hidden;
        //  Navbar is opaque onScroll
    // .App {
    //     overflow-y: scroll;
    //     height: 100vh;
    // }
    // .App.scrolled{
    //     .mdl-layout .mdl-layout__inner-container {
    //         .mdl-layout__header{
    //             z-index: 10;
    //             // background-color: red;
    //             background-color: $brightBeige ;
    //             background-image:  linear-gradient(to right, $darkBeige 10%, $brightBeige 70%, $brightBeige 100%);
    //             // background-image:  linear-gradient(to right, $darkBeige, $brightBeige, $brightBeige);
    //         }
    //         .mdl-navigation__link{
    //             color: $darkestBeige;
    //         }
    //     }
    // }
    .mdl-layout .mdl-layout__inner-container{
        .mdl-layout__header{
        z-index: 10;
        // background-color: transparent;
        // background-image:  linear-gradient(to right, $darkBeige, $lightBeige 60%);
        background-image:  linear-gradient(to top, $brightBeige, $lightBeige);
        // border-bottom: 2px solid white;
        // transition: background-color .5s ease-in;
        box-shadow: none;
        position: fixed;
        top: 0px;
        }
    
        .mdl-layout__header--transparent.is-casting-shadow{
            position:fixed;
        } 
        .mdl-layout__header-row{
            padding-left: 10px;
        }  
        .mdl-navigation__link{
            position: relative;
            color: $darkerBeige;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
        .mdl-layout__drawer-button{
            color: black;
            z-index: 10;
            left: auto;
            right:30px;
            top:15px;
            display: none;
            position: absolute;
            margin: 8px 12px;
            cursor: pointer;
            width: 48px;
            border:none;
                i{
                z-index: 10;
                color:black;
                font-size: 40px;   
                }
        }
        .mdl-layout__drawer{
            height: 100vh;
            .mdl-layout-title{
                .header-title{
                    color: black;
                    text-align: left;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 100;
                    display: none;
                }
            }
        }
        .drawer-nav{
            padding-top:80px;
            .mdl-navigation__link{
                position: relative;
                color: black;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
            }
        }
        .mdl-layout__drawer .mdl-navigation{
            position: relative;
            padding-top:70px;
            height: 300vh;
        }
        .header-title{
            text-decoration: none;
            padding-left: 70px;
            // color: white;
            // color: black;
            color: $lightBeige;
            color: $fadedBlack;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 28px;
            line-height: 38px;
            display: none;
        }
        .logo{
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }
    }
}
// Responsive Design
// PHONE: 0-450
@media (max-width: 450px) {
    body .mdl-layout .mdl-layout__inner-container {
        .mdl-layout__drawer{
            position: absolute;
        }
        .mdl-layout__drawer-button{
            z-index: 100;
            display: block;
            position:fixed;
            top:0px;
            right: 0px;
            i{
            color:black;
            }
        }
        .mdl-layout__header{
            z-index: 100;
            display:block;
            .header-title{
                display:block;
                left:15px;
                top:2px;
                position: fixed;
                display: none;
            }
            .header-nav{
                display:none;
            }
        }
    }
}

// TABLET: 769-1024
@media (min-width: 451px) and (max-width: 1024px) {
    body .mdl-layout .mdl-layout__inner-container { 
        .mdl-layout__header-row{
            z-index: 10;
            height: 80px;
        }
        .mdl-layout__drawer-button {
            z-index: 10;
            display: block;
            position:fixed;
            top:7px;
            right: 25px;
            i{
                color: black;
                font-size:65px;
            }
        }
        .mdl-layout__drawer-button:focus{
            z-index: 10;
                outline:none;
        }
        .mdl-layout__header{
            z-index: 10;
            display:block;
            .header-title{
                display:block;
                left:25px;
                top:7px;
                position: fixed;
                font-size:67px;
                display: none;
            }
            .header-nav{
                display:none;
            }
            a:hover {
                color: black;
              }
        }
        .mdl-navigation__link{
            z-index: 10;
            font-size: 18px;
            line-height: 50px;
            padding-left: 20px;
        }
        .mdl-layout__drawer.is-visible{
            z-index: 10;
            width: 270px;
            .mdl-layout-title{
                padding-top: 18px;
                display: none;
            }
            .header-title {
                left:20px;
                top:20px;
                font-size:67px;
                display: none;
            }
        }
    }
}
// // TABLET LANDSCAPE / SMALL NOTEBOOKS: 1025: 1376
@media (min-width: 1025px) and (max-width: 1376px) {
    body .mdl-layout .mdl-layout__inner-container { 
        .mdl-layout__header{
            z-index: 10;
            display:block;
            .header-title{
                display:block;
                left:25px;
                top:7px;
                position: fixed;
                font-size:67px;
                display: none;
            }
            .mdl-navigation__link{
                font-size: 18px;
                padding-left: 20px;
                padding-top: 5px;
            }
        }
        .mdl-button .mdl-js-button .mdl-button--icon{
            z-index: 10;
            padding-top: 5px;
        }
    }
}